@charset "UTF-8";

:root {
    --orange100: #FF762B;
    --orange-hover: #FF8947;
    --orange-active: #E6601F;
    --orange-disabled: #FFD2B1;
    
    --blue100: #1F4CEA;
    --blue-light: #F3F6FF;
    --blue-hover: #1A41D1;
    --blue-active: #1739B8;
    --blue-disabled: #A5BFF0;
     
    --blue-text-active: #7F858E;
    --blue-light-text-disavled: #D1D5DB;
    --blue-text-disabled: #6C6C7A;
    
    --blue-light: #D9E6FF;
    --blue-light-hover: #B0D0FF;
    --blue-light-active: #A0C0FF;
    --blue-light-disabled: #D9E6FF80;

    --red: #FC7D7D99;

    --grey100: #2C2D2F;
    --grey-dark: #45484D;
    --grey-dark-hover: #565960;
    --grey-dark-active: #3A3D42;
    --grey-dark-disabled: #787A7F;
    --grey-light: #EDEDED;
    --grey60: #FBFBFB99;
    --grey-light-2: #F2F3F5;
    --grey-bg-label: #F6F6F6;
    --grey50: #97969D80;
    --blue-bg-grey50: #E5E5E5;
    --grey-active: #D1D1D1;
    --grey-disabled: #D1D1D180;
    --grey-text-active: #8A8A8D;
    --grey-text-disabled: #A4A4A6;
    --grey-form-fill: #F4F4F4;
    --grey-hover: #DDDDDD;

    --grey-text: #97969D;

    --white100: #FFFFFF;
    --white50: #FFFFFF80;
    --white40: #FFFFFF66;
    --white30: #FFFFFF4D;
    --white10: #FFFFFF1A;
    --white-hover: #F0F0F0;
    --white-photo-bg: #F7F7F7;
    --white-numbers: #F6F6EF;
    --white-stroke: #F6F6EF;

    --green100: #18B975;
    
    --stroke-text-field: radial-gradient(#FFFFFF52, #00000052);
    --stroke-card: #F1F1F2;
    --stroke-label: #F7F7F7;
    --stroke-search: #E5E6EA;
    --stroke-search-disabled: #D1D1D1;
    --stroke-search-hover: #D0D3DA;
    --stroke-search-active: #B0B3B8;
}

@font-face {
    font-family: "Pro Display Semibold";
    src: url('/html/fonts/SF-Pro-Display-Semibold.otf') format('open-type');
    font-weight: 600;
    font-style: normal;
}

/* @media screen and (max-width: 375px) {
    body {
        font-size: 12px !important;
    }
    
    header {
        .marqueue-wrapper {
            .yandex-map-rate-button {
                .yandex-map-text {
                    display: none !important; 
                }
            }

            .marqueue {
                height: 30px;
            }
        }

        
        .online-registration {
            .phone-number {
                display: none;
            }
            
            .registration-button {
                display: none !important;
            }
        
        }
    
        .search-wrapper {
            .logo-wrapper{
                .auto-start-logo{
                }
            }
    
            .menu-button-wrapper {
                .menu-dots{
                    width: 17px;
                    height: 17px;
                }
                .menu-text {
                    display: none !important;
                }
            }

            .search-input-wrapper {
                .bi-search {
                    height: 17px;
                    width: 17px;
                }
            }
            
            .nav-bar-wrapper {
                display: none !important;
            }
        }
    }
}

@media screen and (min-device-width: 376px) and (max-device-width: 744px) {
    body {
        font-size: 12px !important;
    }
    
    header {
        .marqueue-wrapper {
            .yandex-map-rate-button {
                .yandex-map-text {
                    display: none !important; 
                }
            }

            .marqueue {
            }
        }
        
        .online-registration {
            .phone-number {
            }

            .registration-button{
            }
        
        }
    
        .logo-wrapper{
            .auto-start-logo{
            }
        }

        .search-wrapper {
            .navigation-wrapper{
                .menu-button-wrapper {
                    .menu-dots{
                        width: 17px;
                        height: 17px;
                    }
                    .menu-text {
                        display: none !important;
                    }
                }
                
                .search-input-wrapper {
                    .bi-search {
                        height: 17px;
                        width: 17px;
                    }
                }
                
                .nav-bar-wrapper {
                    display: none !important;
                }
            }
        }
    }
} */

@media screen and (min-width: 745px) and (max-width: 1024px) {

}

@media screen and (min-width: 1025px) {

}

/* Global styles */

body {
    /* font-family: 'Pro Display Semibold', normal; */
    font-weight: 600;
    color: var(--grey-dark);
    font-size: 14px !important;
}

header {
    .marqueue-wrapper {
        background: var(--orange100);
        padding: 5px 5% 5px 5%;
        height: 44px;
        border: 1px;
        justify-items: space-between;
        
        .yandex-map-rate-button {
            background-color: var(--white100);
            /* padding: 6px 14px 6px 10px; */
            align-items: center;
            font-size: 14px;
            
            .yandex-map-icon {
                height: 14px;
                width: 11px;
            }
            .yandex-map-rate {

            }
            .yandex-map-text {

            }
        }

        .marqueue {
            color: var(--white100);
            /* width: 90%; */
            position: relative;
            /* overflow-x: hidden; */
            mask-image: linear-gradient(
                to right,
                rgba(0,0,0,0),
                rgba(0,0,0,1) 10%,
                rgba(0,0,0,1) 90%,
                rgba(0,0,0,0)
            );

            .marqueue-item {
                position: absolute;
                left: 100%;
                animation-name: marqueueAnim;
                animation-duration: 30s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
        }

        @keyframes marqueueAnim {
            to {
                left: -200px;
            }
        }

        .online-registration {
            .phone-number-wrapper {
                .phone-number {
                    color: var(--white100);
                }
            }

            
            .registration-button {
                color: var(--grey-dark);
                background: var(--white100);
                font-size: 12px;
                font-weight: 600;
            }
        }
    }

    .logo-wrapper {
        .auto-start-logo {
            height: 40px;
            width: 40px;
        }

        .start-point-group {

        }
    }

    .search-wrapper {
        padding: 5px 5% 5px 5%;
        height: 88px;
        .navigation-wrapper {
            .menu-button-wrapper {
                .menu-button {
                    background-color: var(--orange100);
                    font-weight: 400;
                    height: 44px;

                    .menu-dots {
                    }
                    
                    .menu-text {
                        font-size: 14px;
                        color: var(--white100);
                    }

                    .menu-button-counter {
                        margin-top: 2px;
                        font-weight: 400;
                        background-color: var(--grey-dark);
                    }
                }
            }

            .search-input-wrapper {
                .search-input {
                    font-size: 12px;
                    color: var(--grey-text) !important;
                    border: 1px solid var(--stroke-search);
                    background-color: var(--white100);
                    height: 44px;

                    .bi-search {
                        fill: var(--grey-text);
                    }

                    input, input:focus-visible {
                        border: 0;
                        outline-width: 0px;
                    }
                }
            }

            .nav-bar-wrapper {
                .nav-bar {
                    .nav-bar-item {
                        display: inline;
                        margin: .75rem;

                        a {
                            text-decoration: none;
                            color: var(--grey-dark);
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

.main {
    padding: 1rem 5% 1rem 5%;

    .meeting-wrapper {
        .tag-header-consult-wrapper {
            width: 60%;
            .tag-wrapper {
                height: 40px;
                flex-wrap: nowrap;
                overflow-y: hidden scroll;
            }

            .header-wrapper {
                color: black;
                padding-bottom: 40px;
                
                H1 {
                    
                }
            }

            .consult-wrapper {
                .ad-text {

                }

                form {
                    .inputs-wrapper {
                        font-size: 14px;
                        font-weight: 500;
                        color: var(--grey-text);
                        .name-input {
                            border-radius: 10px 0px 0px 10px;
                            border: 1px solid var(--stroke-search);
                            padding: 10px;
                        }
                        
                        .phone-input {
                            border-radius: 0px 10px 10px 0px;
                            border: 1px solid var(--stroke-search);
                            padding: 10px;
                        }
                    }

                    button {
                        background-color: var(--orange100);
                        color: var(--white100);
                        border-radius: 10px;
                        margin-left: 6px;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }

                .form-notice {
                    font-size: 14px;
                    font-weight: 400;
                    color: var(--grey50);


                    a {
                        font-weight: 600;
                        color: var(--grey50);    
                    }
                }
            }
        }

        .video-wrapper {
            width: 40%;
            padding-left: 10%;

            .video-card {

            }

            .video-tags-wrapper {

            }
        }
    }
}

.card {
    border-radius: 12px;
}

.header-tag {
    align-items: center;
    font-size: 12px;
    padding: 0px 8px 0px 8px;
    margin: 2px;
    border: 1px solid #E9E9EA;
    .icon {
        height: 14px;
        width: 11px;
    }
}

.video-card {
    height: 100%;
    object-fit: cover;
}

.video-tag {
    background-color: var(--white30);
    color: var(--white100);
    padding: 5px;
    margin: 2px;
}